pyrogram==2.0.103
pymongo==4.3.3
pymongo[srv]
asyncio==3.4.3
gpytranslate==1.5.1
requests
tgcrypto==1.2.5
telegraph==2.2.0
wget==3.2
SafoneAPI
youtube_search
yt_dlp
ffmpeg-python
play_scraper
beautifulsoup4>=4.9.1
Pillow==9.0.1
pytz==2023.3
pytube
youtube_dl
youtube-search-python
FFmpeg==1.4
motor
